*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

#app-container{
	min-height: 100vh;
}

.splash {
	background: url('../images/GA_beach.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 35vh;
}
