*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

#app-container{
	min-height: 100vh;
	display: inline-block;
	width: 100%;
}

.splash {
	background-color: green;
	width: 100%;
	// background: url('../images/GA_beach.jpg');
	// background-size: cover;
	// background-repeat: no-repeat;
}

.meat {
	background-color: red;
	width: 75%;
}

.nav {
	background-color: yellow;
	width: 25%;
}

.container {
	padding: 0;
}
